#loading {
    position: absolute;
    top: 35%;
    left: 40%;
    right: 40%;
    bottom: 35%;
}

.loading-text {
    text-shadow: 0px 0px .75rem var(--green) !important;
    position: absolute;
    top: 45% !important;
    left: 35%;
    right: 35%;
    text-align: center;
    font-size: 1.5em;
}

.lds-dual-ring {
    display: inline-block;
    width: 22em;
    height: 22em;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 22em;
    height: 22em;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid var(--darkgrey);
    box-shadow: 0px 0px .75rem var(--green) !important;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        box-shadow: 0px 0px .75rem var(--darkgrey) !important;
        border-color: var(--green);
        filter: alpha(opacity=100);
        -moz-opacity: 1;
        -khtml-opacity: 1;
        opacity: 1;
    }

    100% {
        box-shadow: 0px 0px 0.25rem var(--darkgrey5) !important;
        border-color: var(--darkgrey);
        filter: alpha(opacity=0);
        -moz-opacity: 0.0;
        -khtml-opacity: 0.0;
        opacity: 0.0;
    }
}