@font-face {
    font-family: 'Avignon PS Pro';
    src: url('https://goldenlys.github.io/ThemeGen/fonts/avignon-ps-pro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Avignon PS Pro';
    src: url('https://goldenlys.github.io/ThemeGen/fonts/avignon-ps-pro-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: 'Avignon PS Pro DemiBold';
    src: url('https://goldenlys.github.io/ThemeGen/fonts/avignon-ps-pro-demibold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Avignon PS Pro DemiBold Italic';
    src: url('https://goldenlys.github.io/ThemeGen/fonts/avignon-ps-pro-demibolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap
}

body {
    --red: 210 5 43;
    --green: 20 185 80;
    --blue: 28 103 228;
    --yellow: 230 193 56;
    --orange: 240 80 0;
    --purple: 52 24 144;
    --grey: 224 225 226;
    --darkgrey: 58 59 70;
    --white: 255 255 255;
    --black: 5 5 5;
    --ALPHA: 19 241 210;
}

::-moz-selection {
    color: _clear_;
    background-color: rgb(125, 125, 155);
}

::selection {
    background-color: rgb(125, 125, 155);
}

*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Avignon PS Pro', sans-serif;
    font-weight: 100;
    line-height: 1;
    font-size: 15px;
    height: 100vh;
    color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

.background {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(17, 15, 31);
}

p {
    text-align: justify;
    font-size: 1rem;
}

p.left {
    text-align: left;
}

p.right {
    text-align: right;
}

.bold {
    font-weight: bold;
    margin: auto 5px;
}

.site-name {
    font-size: 1.25rem;
    font-weight: bold;
}

.site-name .sub {
    opacity: .5;
    margin-left: 5px;
    vertical-align: baseline;
    font-size: 12px;
}

span>.sub {
    font-size: .75rem;
}

a:-webkit-any-link {
    color: white;
    text-decoration: none;
    -webkit-transition: all .25s ease;
    transition: all .25s ease-in-out;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

.pw.message {
    font-size: 16px;
    position: relative;
    top: 0rem;
    padding: 1rem 2rem;
    margin-bottom: .75rem;
    border-radius: 5px;
    background: rgb(18, 19, 31);
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.pw.message:last-child {
    margin-bottom: 0;
}

.pw.message:not(.no-animation):hover {
    background: rgb(255 255 255 / 5%);
    box-shadow: 2.5px 2.5px 5px 0px rgb(255 255 255 / 5%);
}

.pw.message .content {
    color: rgb(255 255 255 / 75%);
    text-align: center;
    font-weight: 300;
}

.pw.page {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    padding: 0;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.pw.messages {
    display: flex;
    margin: 1rem 0;
    flex-wrap: wrap;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    justify-content: center;
}

.pw.messages .pw.message {
    margin: 0 1rem 1rem;
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: calc(50% - 2rem);
}

@media (min-width: 1024px) {
    .pw.messages .pw.message:nth-child(2n) {
        margin-left: 0;
    }
    .equipment>.pw.horizontal.segments>.segment:first-child {
        max-width: calc(50% - 1em);
        min-width: calc(50% - 1em);
    }
    .equipment>.pw.horizontal.segments>.segment {
        min-width: calc(50% - 1em);
    }
}

@media (max-width: 1024px) {
    .pw.messages .pw.message {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .pw.messages .pw.message:last-child {
        margin-bottom: 0
    }
    .pw.images {
        flex-wrap: wrap;
    }
    .pw.fluid.nostack.buttons {
        width: 100%;
        display: block;
    }
    .pw.nostack.buttons .pw.button {
        display: block;
        margin: 0 0 .5em 0 !important;
    }
    .pw.nostack.buttons .pw.button.disabled {
        margin: 0 !important;
        display: none !important;
    }
    .pw.fluid.steps {
        display: flex;
        flex-wrap: wrap;
    }
    .pw.steps .step, .pw.fluid.steps .step {
        margin: 5px;
        width: calc(100% - 5em);
        border-radius: 5px !important;
    }
}

::-webkit-scrollbar {
    background: rgb(17 15 31);
}

::-webkit-scrollbar-track {
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 5px;
    border: 2px solid rgb(17 15 31);
    background: rgb(var(--ALPHA));
}

::-webkit-scrollbar-thumb:window-inactive {
    width: 10px;
    border-color: transparent;
    background: transparent;
}

.pw.image {
    position: relative;
    display: block;
    border-radius: 5px;
    margin: .5rem;
    max-width: 100%;
    background-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

.pw.mini.image, .pw.mini.images .image, .pw.mini.images img {
    width: 35px;
    height: auto;
}

.pw.tiny.image, .pw.tiny.images .image, .pw.tiny.images img {
    width: 80px;
    height: auto;
}

.pw.small.image, .pw.small.images .image, .pw.small.images img {
    width: 150px;
    height: auto;
}

.pw.medium.image, .pw.medium.images .image, .pw.medium.images img {
    width: 250px;
    height: auto;
}

.pw.wide.image, .pw.wide.images .image, .pw.wide.images img {
    width: 350px;
    height: auto;
}

.pw.large.image, .pw.large.images .image, .pw.large.images img {
    width: 450px;
    height: auto;
}

.pw.big.image, .pw.big.images .image, .pw.big.images img {
    width: 600px;
    height: auto;
}

.pw.huge.image, .pw.huge.images .image, .pw.huge.images img {
    width: 800px;
    height: auto;
}

.pw.massive.image, .pw.massive.images .image, .pw.massive.images img {
    width: 960px;
    height: auto;
}

.pw.centered.image, .pw.centered.images {
    margin-left: auto;
    margin-right: auto;
    text-align: -webkit-center;
}

.pw.images .image, .pw.images>img {
    display: inline-block;
    margin: 0 .25rem .5rem;
}

.link {
    display: inline-block;
    color: rgb(var(--ALPHA));
    padding: 0;
    -webkit-transition: all .25s ease;
    transition: all .25s ease-in-out;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

.link:hover {
    background-color: rgb(var(--ALPHA));
    color: white;
    border-radius: 2.5px;
    padding: .25rem .5rem;
}

.pw.divider {
    font-size: 1rem;
    margin: 1rem 0;
    line-height: 1;
    height: 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: rgb(255 255 255 / 85%);
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.pw.divider:not(.horizontal):not(.vertical):not(.invisible) {
    height: 2px;
    background-image: linear-gradient(to right, transparent, rgb(140 140 140 / 50%), transparent);
}

.pw.invisible.divider {
    margin: .5em 0;
    height: 0;
    background: transparent none;
}

.pw.vertical.divider {
    display: inline-block;
    background-image: linear-gradient(to bottom, transparent, rgb(140 140 140 / 50%), transparent);
    margin: 0 .5rem -2.5px;
    height: 1rem;
    width: 2px;
}

.pw.horizontal.divider {
    display: table;
    white-space: nowrap;
    height: auto;
    margin: 1rem 0;
    text-align: center;
}

.pw.horizontal.divider:after, .pw.horizontal.divider:before {
    content: '';
    display: table-cell;
    position: relative;
    top: 50%;
    width: 50%;
    background-size: auto 2px;
    background-repeat: no-repeat;
}

.pw.horizontal.divider:before {
    background-position: right .5em top 50%;
    background-image: linear-gradient(to right, transparent, rgb(140 140 140 / 50%));
}

.pw.horizontal.divider:after {
    background-position: left .5em top 50%;
    background-image: linear-gradient(to right, rgb(140 140 140 / 50%), transparent);
}

.pw.red {
    color: rgb(var(--red));
}

.pw.orange {
    color: rgb(var(--orange));
}

.pw.green {
    color: rgb(var(--green));
}

.pw.blue {
    color: rgb(var(--blue));
}

.pw.yellow {
    color: rgb(var(--yellow));
}

.pw.purple {
    color: rgb(var(--purple));
}

.pw.white {
    color: rgb(var(--white));
}

.pw.black {
    color: rgb(var(--black));
}

.pw.grey {
    color: rgb(var(--grey));
}

.pw.darkgrey {
    color: rgb(var(--darkgrey));
}

.pw.alpha {
    color: rgb(var(--ALPHA));
}

.message span.pw {
    text-shadow: 0 0 5px;
}

.message span.pw.white {
    text-shadow: 0 0 2.5px black;
}

.pw.messages:last-child {
    margin-bottom: 0
}

.pw.segments {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    position: relative;
    margin: 1rem 0;
    border-radius: .10px;
}

.pw.segments:last-child {
    margin-bottom: 0;
}

.pw.horizontal.segments {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    border-radius: 0;
    padding: 0;
    margin: .5rem 0;
    border-radius: .10px;
}

.pw.segment {
    position: relative;
    margin: 1rem 0;
    padding: 1em 1em;
    border-radius: .10px;
}

.pw.little.segment {
    max-width: 1em;
}

.pw.segments>.segment {
    top: 0;
    bottom: 0;
    border-radius: 0;
    margin: 0;
    width: auto;
}

.pw.horizontal.segments>.segment {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    margin: 0;
    min-width: 0;
    border-radius: 0;
}

.pw.horizontal.segments>.segment:first-child {
    border-left: none;
}

.page-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    background: linear-gradient(to right, rgb(5 5 20 / 1), rgb(18 19 31));
    width: 20%;
    border-radius: 0;
    padding: 0;
    margin: 0;
}

.page-sidebar .credits {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    text-align: center;
}

.page-sidebar .menu li {
    display: block;
    text-align: center;
    margin: 0;
    height: auto;
    line-height: 3.5rem;
    position: relative;
    list-style: none;
}

.menu .link {
    position: relative;
    display: block;
    color: white;
    height: 3.5rem;
    font-size: 1.10rem;
    border-radius: 0 5px 5px 0;
    justify-content: center;
    align-items: center;
    text-indent: 3.5rem;
}

.menu .link i {
    text-indent: 0em;
    background-color: rgb(0 0 0 / 15%);
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    width: 3.5rem;
    line-height: calc(3.5rem - 10px);
}

.menu li.active .link {
    color: rgb(var(--ALPHA));
    background-color: rgb(125 125 155 / 25%);
}

.menu li.active:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    background: rgb(var(--ALPHA));
    box-shadow: 0 0 5px rgb(var(--ALPHA));
    width: 2.5px;
}

.menu .link:hover {
    background-color: rgb(var(--ALPHA) / 25%);
    padding: 0;
    cursor: pointer;
}

.menu .link:hover i {
    color: rgb(var(--ALPHA));
}

.page-content {
    position: relative;
    left: 20%;
    width: calc(50% - 2rem);
    min-height: 100vh;
    padding: 0rem 1rem 0;
}

.page-tabs {
    position: relative;
    left: 20%;
    width: 30%;
    background: linear-gradient(to right, rgb(18 19 31), rgb(5 5 20 / 1));
}

.pw.button {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    min-height: 1em;
    font-size: 1rem;
    border: none;
    color: white;
    vertical-align: baseline;
    background: rgb(255 255 255 / 0%) none;
    margin: 0 .25em 0 0;
    padding: .75em 1em .75em;
    border-radius: 5px;
    text-transform: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-transition: all .25s ease, font-size 0s ease;
    transition: all .25s ease-in-out, font-size 0s ease;
}

.pw.button:not(.transparent):hover {
    background-color: rgb(255 255 255 / 10%);
    color: rgb(var(--ALPHA));
    cursor: pointer;
}

.pw.buttons {
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    font-size: 0;
    vertical-align: baseline;
    margin: 0 .25em 0 0;
}

.pw.buttons .pw.button {
    position: relative;
    -webkit-box-flex: 1;
    flex: 1 0 auto;
    margin: 0;
    border-radius: 0;
    margin: 0;
}

.pw.buttons:not(.nostack) .pw.button:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pw.buttons:not(.nostack) .pw.button:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pw.nostack.buttons .pw.button:not(:last-child) {
    margin-right: .5em;
}

.pw.buttons>.pw.button[style="display: none;"]+.pw.button,
.pw.nostack.buttons .pw.button {
    border-radius: 5px;
}

.pw.fluid.buttons {
    width: 100%;
}

.pw.fluid.vertical.buttons {
    display: block;
}

.pw.fluid.vertical.buttons>.pw.button {
    display: block;
    margin: .5em 1em;
    border-radius: 5px;
}

.pw.fluid.button {
    display: block;
    margin: 2.5px 0 0 0;
}

.pw.blue.button {
    background-color: rgb(var(--blue));
    text-shadow: 0 0 5px rgb(0 0 0);
}

.pw.blue.button:not(.transparent):hover {
    background-color: rgb(var(--blue) / 75%);
    color: rgb(255 255 255 / 75%);
}

.pw.red.button {
    background-color: rgb(var(--red));
    text-shadow: 0 0 5px rgb(0 0 0);
}

.pw.red.button:not(.transparent):hover {
    background-color: rgb(var(--red) / 75%);
    color: rgb(255 255 255 / 75%);
}

.pw.green.button {
    background-color: rgb(var(--green));
    text-shadow: 0 0 5px rgb(0 0 0);
}

.pw.green.button:not(.transparent):hover {
    background-color: rgb(var(--green) / 75%);
    color: rgb(255 255 255 / 75%);
}

.pw.yellow.button {
    background-color: rgb(var(--yellow));
    text-shadow: 0 0 5px rgb(0 0 0);
}

.pw.yellow.button:not(.transparent):hover {
    background-color: rgb(var(--yellow) / 75%);
    color: rgb(255 255 255 / 75%);
}

.pw.purple.button {
    background-color: rgb(var(--purple));
    text-shadow: 0 0 5px rgb(0 0 0);
}

.pw.purple.button:not(.transparent):hover {
    background-color: rgb(var(--purple) / 75%);
    color: rgb(255 255 255 / 75%);
}

.pw.grey.button {
    background-color: rgb(var(--grey));
    color: rgb(0 0 0 / 65%);
}

.pw.grey.button:not(.transparent):hover {
    background-color: rgb(var(--grey) / 75%);
    color: rgb(0 0 0 / 65%);
}

.pw.darkgrey.button {
    background-color: rgb(var(--darkgrey));
    text-shadow: 0 0 5px rgb(0 0 0);
}

.pw.darkgrey.button:not(.transparent):hover {
    background-color: rgb(var(--darkgrey) / 75%);
    color: rgb(255 255 255 / 75%);
}

.pw.alpha.button {
    background-color: rgb(var(--ALPHA));
    text-shadow: 0 0 5px rgb(0 0 0);
}

.pw.alpha.button:not(.transparent):hover {
    background-color: rgb(var(--ALPHA) / 75%);
    color: rgb(255 255 255 / 75%);
}

.page-content .player-exp {
    position: fixed;
    bottom: 0rem;
    left: 20%;
    right: 30%;
    text-align: center;
}

.pw.progress {
    background: rgb(18, 19, 31);
    position: relative;
    display: flex;
    height: .5rem;
    border-radius: 2.5px;
}

.pw.progress .progress-bar {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(var(--ALPHA));
    border-radius: 2.5px;
}

.pw.progress .progress-text {
    position: relative;
    z-index: 2;
    bottom: 1.25rem;
    text-align: center;
    width: 100%;
}

.popup {
    display: flex;
    visibility: hidden;
    z-index: 100;
    background: transparent;
    position: fixed;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    transition: visibility 0s ease, background-color 250ms ease;
    -webkit-transition: visibility 0s ease, background-color 250ms ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

.popup.active {
    visibility: visible;
    background: rgb(0 0 0 / 85%);
}

.popup .title {
    color: rgb(var(--ALPHA));
    line-height: 1.5em;
    font-size: 1.25em;
    text-align: center;
    padding: 1em 0 .5em;
}

.popup .text {
    line-height: 1.25em;
    font-size: 1em;
    text-align: center;
    padding: .5em 0 1em;
}

.popup .content {
    position: absolute;
    display: block;
    width: 75%;
    text-align: center;
    border-radius: 5px;
    background: rgb(18, 19, 31);
    box-shadow: 0 0 5px rgb(31 32 39), 2.5px 2.5px 10px rgb(23 24 41);
}

.popup:not(.active) .content,
.popup:not(.active) * {
    line-height: 0;
    font-size: 0;
    background: transparent;
    box-shadow: none;
    visibility: hidden;
}

.header {
    background: rgb(18, 19, 31);
    box-shadow: 2.5px 2.5px 5px 0px rgb(0 0 0 / 25%);
    line-height: 1;
    padding: .25em .5em;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    margin-bottom: .5em;
}

.pw.fluid.steps {
    display: -webkit-box;
    display: flex;
    margin: .25em 0;
    width: 100%;
}

.ui.steps {
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: stretch;
    align-items: stretch;
    margin: 1em 0;
    border-radius: 5px;
    font-size: 1rem;
}

.pw.steps .step {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-flex: 1;
    flex: 1 0 auto;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    vertical-align: middle;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0 0;
    padding: 1.15em 2em;
    font-size: 1rem;
    background: rgb(28, 29, 41);
    -webkit-transition: background-color .1s ease, opacity .1s ease, color .1s ease, -webkit-box-shadow .1s ease;
    transition: background-color .1s ease, opacity .1s ease, color .1s ease, box-shadow .1s ease;
}

.pw.steps .step:first-child {
    padding-left: 2em;
    border-radius: 5px 0 0 5px;
}

.pw.steps .step:last-child {
    padding-right: 2em;
    border-radius: 0 5px 5px 0;
}

.pw.steps .step>i {
    line-height: 1;
    font-size: 2.5em;
    margin: 0 1rem 0 0;
}

.pw.steps .step .title {
    font-weight: bold;
    line-height: 1.25;
}

.pw.steps .step .description {
    font-weight: normal;
    line-height: 1.15;
}

.pw.steps .step.active,
.pw.steps .step.active:after {
    background: rgb(42 43 60);
    text-shadow: 0 0 5px black;
}


.pw.steps .step.completed {
    background: rgb(32 33 51);
    text-shadow: 0 0 5px black;
}

.pw.steps .step:after {
    display: none;
    position: absolute;
    z-index: 2;
    content: "";
    top: 50%;
    right: 0;
    border: medium none;
    background-color: #fff;
    width: 1.15em;
    height: 1.15em;
    -webkit-transition: background-color .1s ease, opacity .1s ease, color .1s ease, -webkit-box-shadow .1s ease;
    transition: background-color .1s ease, opacity .1s ease, color .1s ease, box-shadow .1s ease, -webkit-box-shadow .1s ease;
    -webkit-transform: translateY(-50%) translateX(50%) rotate(-45deg);
    transform: translateY(-50%) translateX(50%) rotate(-45deg);
}

.pw.steps .active.step:after {
    display: block;
}

input[type="text"] {
    width: 100%;
    max-width: -webkit-fill-available;
    padding: 1em .5em;
    margin: 5px 0;
    font-size: 1rem;
    color: white;
    background: rgb(255 255 255 / 15%);
    border: none;
    outline: none !important;
    border-radius: 5px;
}

::-webkit-input-placeholder {
    color: white;
}

.pw.steps .step.completed .title {
    color: rgb(var(--ALPHA));
}

.pw.steps .step.completed>i:before {
    color: rgb(var(--ALPHA));
    content: "\f00c";
}

.pw.message.selected, .pw.message.selected:hover {
    box-shadow: 0 0 5px 0 rgb(var(--ALPHA)), inset 0 0 2.5px 0 rgb(var(--ALPHA));
}

.pw.sticked.segments {
    margin-bottom: 0;
}

.pw.sticked.segments .segment {
    margin: 1em 1em 0;
    padding: 0;
    border-radius: 5px;
    background-color: rgb(0 0 0 / 15%);
}

.pw.label {
    display: block;
    margin: .25em 0;
    padding: .25em .5em;
    text-align: center;
    border-radius: 5px;
    color: white;
    background-color: rgb(255 255 255 / 15%);
}

.pw.inline.label {
    display: inline-block;
    margin: .25em;
    padding: .10em .25em;
}

#DIV-STATS .pw.segment.text-right>.pw.inline.label {
    display: inline;
}

.pw.button.disabled {
    max-width: 0;
    font-size: 0;
}

.pw.dropdown>.name:before {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    line-height: 1;
    content: "\f105";
    margin-right: 5px;
    transition: all 250ms linear;
    -webkit-transition: all 250ms linear;
}

.pw.dropdown>.name {
    margin: .5em 0 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

.pw.dropdown[data-open="open"]>.name:before {
    color: rgb(var(--ALPHA));
    content: "\f107";
}

.pw.dropdown>.content {
    display: none;
}

.pw.dropdown[data-open="open"]>.content {
    display: block;
}

#PlayerID>div>i {
    margin-right: 5px;
}

.pw.buttons .pw.button.active {
    background-color: rgb(125 125 155 / 25%);
}

.pw.buttons .pw.button.active>i {
    color: rgb(var(--ALPHA));
}

.pw.buttons .pw.button.active:after {
    content: "";
    position: absolute;
    top: 0;
    top: 0;
    left: 0;
    display: flex;
    background: rgb(var(--ALPHA));
    box-shadow: 0 0 5px rgb(var(--ALPHA));
    height: 2px;
    width: 100%;
}

.page-tabs>.pw.buttons .pw.button {
    border: none;
    border-radius: 0 0 5px 5px !important;
}

.pw.segment.light, .pw.segments.light,
.pw.segment.dark, .pw.segments.dark,
.pw.segment.active, .pw.segments.active {
    color: white;
    border-radius: 5px;
    margin: .5em;
    background-color: rgb(0 0 0 / 15%);
}

.pw.segment.dark:hover, .pw.segments.dark:hover {
    background-color: rgb(0 0 0 / 25%);
}

.pw.segment.active, .pw.segments.active {
    background-color: rgb(var(--green) / 5%);
}

.pw.segment.active:hover, .pw.segments.active:hover {
    background-color: rgb(var(--green) / 10%);
}

.pw.segment.light, .pw.segments.light {
    background-color: rgb(255 255 255 / 15%);
}

.pw.segment.light:hover, .pw.segments.light:hover {
    background-color: rgb(255 255 255 / 25%);
}


.pw.horizontal.dark.segments>.segment, .pw.horizontal.segments>.segment.dark,
.pw.horizontal.light.segments>.segment, .pw.horizontal.segments>.segment.light {
    align-self: center;
    text-align: center;
    line-height: 2.5em;
    vertical-align: middle;
    justify-content: center;
    white-space: nowrap;
    height: 2.5em;
    padding: .5em 1em;
}

.pw.segment>h1, .pw.segment>h2, .pw.segment>h3, .pw.segment>h4, .pw.segment>h5, .pw.segment>h6 {
    margin-top: 0;
}

.pw.segment.avatar {
    display: flex;
    text-overflow: ellipsis;
    overflow: hidden;
}


#DIV-STATS .pw.segment.avatar {
    display: contents;
}

.pw.segment.avatar img {
    height: 2.5em;
    width: 2.5em;
    margin: auto 1em;
}

.pw.segment.avatar img+span {
    margin: auto 1em auto 0em;
}

#LEADERBOARD>.pw.segments>.pw.segment:nth-child(1) {
    min-width: 5%;
    max-width: 5%;
    padding: 0;
}

#LEADERBOARD>.pw.segments>.pw.segment:nth-child(2) {
    min-width: 25%;
    max-width: 25%;
    padding: 0;
}

#LEADERBOARD>.pw.segments>.pw.segment:nth-child(3) {
    min-width: 15%;
    max-width: 15%;
    padding: 0;
}

#LEADERBOARD>.pw.segments>.pw.segment:nth-child(4) {
    min-width: 10%;
    max-width: 10%;
    padding: 0;
}

#LEADERBOARD>.pw.segments>.pw.segment:nth-child(5) {
    min-width: 15%;
    max-width: 15%;
    padding: 0;
}

#LEADERBOARD>.pw.segments>.pw.segment:nth-child(6) {
    min-width: 15%;
    max-width: 15%;
    padding: 0;
}

#LEADERBOARD>.pw.segments>.pw.segment:nth-child(7) {
    min-width: 15%;
    max-width: 15%;
    padding: 0;
}

.type_card {
    min-width: 50% !important;
    padding: 0 !important;
}

.type_card .card {
    position: relative;
    display: flex;
    background: rgb(18 19 31 / 65%);
    justify-content: center;
    align-items: center;
    min-height: 260px;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.5s;
}

.type_card:first-child .card {
    margin: 0 .5rem 0 0;
}

.type_card:last-child .card {
    margin: 0 0 0 .5rem;
}

.type_card .card_content {
    position: relative;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: var(--grey);
}

.type_card .card_content .number {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.type_card .card_content .number #EnemySprite,
.type_card .card_content .number #PlayerSprite {
    margin: 5px;
}

.type_card .card_content .number img {
    margin: 0;
    border-radius: 50%;
}

.type_card .card_content .number h2 {
    position: absolute;
    font-weight: 700;
    font-size: .75rem;
    vertical-align: middle;
    margin: 0;
    top: -10%;
    left: 0;
    right: 0;
    text-align: center;
    transition: 0.5s;
}

.type_card .card_content .number h2 span {
    transition: 0.5s;
    font-size: .65rem;
    color: white;
}

.type_card .text {
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
}

.type_card .text:first-child {
    margin-top: 0;
}

.type_card .text:last-child {
    min-height: 3rem;
    margin-bottom: 0;
}

.type_card svg {
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 1;
}

.type_card circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: var(--grey);
    stroke-width: 5;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

.type_card circle:nth-child(2) {
    stroke-dasharray: 455;
    stroke-dashoffset: 455;
}

.type_card #PlayerCard.card .Percentage {
    stroke-dashoffset: calc(455 - (455 * 100) / 100);
    stroke: #0fb13a;
    transition: stroke-dashoffset 250ms ease;
}

.type_card #EnemyCard.card .Percentage {
    stroke-dashoffset: calc(455 - (455 * 100) / 100);
    stroke: #b30e0e;
}

img[src*="E.png"]:before, .error-img:before {
    content: "?" !important;
    font-size: 50px;
    line-height: 100px;
    color: var(--red);
    text-shadow: 0 0 5px;
}

.pw.checkbox {
    display: inline-block;
    flex: 1 1 auto;
    margin: .5em;
    width: 100%;
}

.pw.checkbox>input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    margin: auto 0;
    float: left;
    height: 2em;
    width: 2em;
    line-height: 2em;
    color: white;
    border-radius: 2.5px;
    background: white;
    outline: none;
}

.pw.checkbox>.text {
    line-height: 2em;
    margin: 0 .5em 0 0;
    text-align: left;
    vertical-align: middle;
}

.pw.checkbox[data-check="checked"]>input {
    background: rgb(var(--ALPHA));
    -webkit-transition: all 500ms linear;
    transition: all 500ms linear;
}

.pw.checkbox:not([data-check="checked"])>input:after {
    content: "\2716";
    font-size: 2em;
}


.pw.checkbox[data-check="checked"]>input:after {
    display: block;
    content: "\2714";
    font-size: 2em;
    text-align: center;
}

.equipment .pw.segment[id*="armor"],
.equipment .pw.segment[id="MainWeapon"],
.equipment .pw.segment[id="SpecialWeapon"] {
    --QUALITY: var(--Error);
    margin: .5em;
    background: rgb(18 19 31 / 65%);
    padding: 0;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 var(--QUALITY), 0 0 0 1.5px var(--QUALITY), inset 0 0 5px 1.5px var(--QUALITY) !important;
}

.equipment .pw.segment[id="MainWeapon"] img,
.equipment .pw.segment[id="SpecialWeapon"] img {
    height: 80px;
    width: auto;
}

.equipment h4 {
    margin: 0;
}

.equipment .pw.segment>div>.pw.segment:first-child {
    align-self: center;
}

.equipment .pw.segment>div>.pw.segment {
    padding: 0;
}

.equipment>.pw.segments {
    margin: 0;
    flex-wrap: wrap;
}

.equipment>.pw.segments>.pw.segment>.pw.segments {
    margin: .25em;
}

.equipment {
    margin-bottom: 1em;
}

#DIV-INVENTORY>.pw.sticked.segments {
    flex-wrap: wrap;
}

#DIV-INVENTORY>.pw.sticked.segments>.pw.segment {
    max-width: calc(50% - 2em);
}

.pw.label.green, .pw.segments .pw.segment.green {
    background-color: rgb(var(--green) / 15%);
}

.pw.label.red, .pw.segments .pw.segment.red {
    background-color: rgb(var(--red) / 15%);
}

.pw.label.yellow, .pw.segments .pw.segment.yellow {
    background-color: rgb(var(--yellow) / 15%);
}

.pw.label.purple, .pw.segments .pw.segment.purple {
    background-color: rgb(var(--purple) / 15%);
}

.pw.label.orange, .pw.segments .pw.segment.orange {
    background-color: rgb(var(--orange) / 15%);
}

.pw.label.blue, .pw.segments .pw.segment.blue {
    background-color: rgb(var(--blue) / 15%);
}

.pw.label.white, .pw.segments .pw.segment.white {
    background-color: rgb(var(--white) / 15%);
}

.pw.label.black, .pw.segments .pw.segment.black {
    background-color: rgb(var(--black) / 15%);
}

.pw.label.alpha, .pw.segments .pw.segment.alpha {
    background-color: rgb(var(--ALPHA) / 15%);
}

.pw.segment.Normal,
.pw.segment.Common,
.pw.segment.Uncommon,
.pw.segment.Rare,
.pw.segment.Epic,
.pw.segment.Exotic,
.pw.segment.Divine {
    border: 1px solid;
    border-left: 5px solid;
    margin: 0 1em .5em;
    border-radius: 5px;
    color: white !important;
    text-shadow: none !important;
    background-color: rgb(255 255 255 / 5%);
}

.pw.label>h1, .pw.label>h2, .pw.label>h3,
.pw.label>h4, .pw.label>h5, .pw.label>h6 {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: .5em;
}

.pw.reddit {
    color: rgb(222 61 61);
}

.pw.discord {
    color: rgb(114 137 218);
}

#DIV-PRESTIGE #Upgrades .pw.segments {
    flex-wrap: wrap
}

#DIV-PRESTIGE #Upgrades .pw.segment {
    text-overflow: clip;
    overflow: hidden;
    width: calc(25% - 2em);
}

#DIV-INVENTORY .pw.message>.pw.segments {
    margin: 0
}

#DIV-INVENTORY .pw.little.segment {
    display: inline-block;
    min-width: 3em;
    justify-content: center;
    align-self: center;
    max-width: 3em;
    padding: initial;
}

#DIV-INVENTORY .pw.little.segment>.pw.button {
    margin: 0;
}

.pw.message.respawning>* {
    display: none !important;
}

.respawning {
    display: block;
    line-height: 5.5em;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

.pw.button.transparent {
    opacity: .5;
}

.pw.grey.button>.pw.yellow {
    text-shadow: 0 0 2.5px #0c0a15;
}

.location-bg {
    position: fixed;
    top: 0;
    left: 20%;
    right: 30%;
    bottom: 0;
    background: center / cover no-repeat;
}

.location-bg:after {
    content: "";
    background: center / cover no-repeat linear-gradient(to bottom, rgb(17 15 31 / 90%) 50%, transparent);
    position: absolute;
    width: 100%;
    height: 100%;
}

#DIV-COMBAT>.pw.message {
    background: rgb(18 19 31 / 65%);
}

.page-content div[id^="DIV-"]>.pw.message>.pw.horizontal.divider:first-child,
.page-content div[id^="DIV-"].pw.message>.pw.horizontal.divider:first-child {
    margin: 0 0 .5rem;
}

.page-content div[id^="DIV-"].pw.message {
    background: rgb(18 19 31 / 65%);
}

.equipment .pw.red.button {
    background-color: rgb(var(--red) / 35%);
}

div[id^="INVENTORY-"]>.pw.message {
    padding: 0 .5em;
}

#PLAYER-ETA+.pw.sticked.segments>.pw.segment {
    margin: 0;
}
